@charset "UTF-8";

body{  font-family: "Nanum Gothic", Verdana, Dotum, AppleGothic, sans-serif, xeicon;}
.fl {float: left;}
.fr {float: right;}

#wrap {
	font-size: 12px;
	font-stretch: 100%;
	font-weight: 400;
	line-height: normal;
	position: relative;
	width: 1260px;
	margin: 0 auto;
}

#container {
	position: relative;
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}

#contents {
	position: relative;
	width: 100%;
	margin: 20px auto;
	padding: 1px;
}

.board-title {
	list-style: none;
	margin: 0;
	padding: 0;
}

.path {
	overflow: hidden;
    height: 30px;
    line-height: 30px;
}

.path span {	
    overflow: hidden;
    position: absolute;
    width: 0;
    height: 0;
    white-space: nowrap;
    text-indent: 100%;
}

.ol {
	float: right;
	list-style: none;
	margin: 0;
	padding: 0;
}

.path li:fitst-child {
	padding-left: 0;
	margin-left: 0;
    background: none;
    color: #757575;
}

.path li {
	float: left;
	padding: 0 0 0 12px;
	margin: 0 0 0 8px;
    background: url(http://img.echosting.cafe24.com/skin/base/layout/ico_path.gif) no-repeat 0 10px;
}

.title {
	min-height: 30px;
	margin: 10px 0 20px;
	border-bottom: 1px solid #e8e8e8;
}

.title h2 {
	margin: 0;
	display: inline-block;
	padding: 0 0 0 12px;
	color: #2e2e2e;
	font-size: 16px;
	background: url("//img.echosting.cafe24.com/skin/base/layout/ico_heading.gif") 0 50% no-repeat;
}

.title p {
	display: inline-block;
	margin: 0 0 0 6px;
	padding: 0 0 0 12px;
	color: #939393;
	vertical-align: bottom;
	background: url(//img.echosting.cafe24.com/skin/base/layout/ico_bar.gif) no-repeat 0 0;
}

.line {
	display: table;
	position: relative;
	margin: 10px 0 0;
	border: 1px solid #d7d5d5;
	border-bottom-color: rgb(215, 213, 213);
	border-right: 0;
	border-left: 0;
	border-top-color: #fff;
	border-top-width: 1px;
	color: #fff;
	line-height: 18px;
	width: 100%;
	border-collapse: collapse;
}

.line:before {
	position: absolute;
}

tbody {
	display: table-row-group;
    vertical-align: middle;
    unicode-bidi: isolate;
    border-color: inherit;
    border-spacing: 2px;
}

tr {
    display: table-row;
    vertical-align: inherit;
    unicode-bidi: isolate;
    border-color: inherit;
}

th:first-child {
    border-left: 0;
}

th {
    padding: 11px 0 10px 18px;
    border: 1px solid #dfdfdf;
    border-right: 0;
    color: #353535;
    text-align: left;
    font-weight: normal;
    background-color: #fbfafa;
    vertical-align: top;
}

td {
	padding: 11px 10px 10px;
    border-top: 1px solid #dfdfdf;
    color: #353535;
    vertical-align: middle;
    vertical-align: top;
    border-right: none;
}

#subject {
	width: 390px;
}

select {
   	height: 24px;
    border: 1px solid #d5d5d5;
    font-size: 100%;
    font-family: "돋움", Dotum;
    color: #353535;
    vertical-align: middle;
}

input {
    outline: none;
    ont-size: 100%;
    font-family: "돋움", Dotum;
    color: #353535;
    vertical-align: middle;
}

.mailId {
    margin: 0 4px 0 0;
}

.clear {
	padding: 0;
	border: 0;
	border-top: none;
}

.fr-box {
	position: relative;
	border-radius: 10px;
	border: 1px solid #CCCCCC;
}

.fr-toolbar {
	display: inline-block;
    top: 0;
    background-clip: padding-box;
    background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    text-align: left;
    line-height: 1.2;
}

.fr-toolbar .fr-command.fr-btn, .fr-popup .fr-command.fr-btn, .fr-modal .fr-command.fr-btn {
    background: transparent;
    color: #333333;
    -moz-outline: 0;
    outline: none;
    border: 0;
    line-height: 1;
    cursor: pointer;
    text-align: left;
    margin: 4px 2px;
    padding: 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    z-index: 2;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    float: left;
    height: 40px;
}

#paragraphFormat { 
	background: transparent;
    color: #333333;
    outline: none;
    border: 0;
    line-height: 1;
    cursor: pointer;
    text-align: left;
    margin: 4px 2px;
    padding: 0;
    position: relative;
    z-index: 2;
    box-sizing: border-box;
    float: left;
    height: 40px;
    width: 102px;
}

#paragraphFormat::after {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #333333;
    right: 2px;
    top: 18px;
    -webkit-transition: all 0.3s;
    content: "";
}

#paragraphFormat > span {
	width: 80px;
	font-weight: normal;
	font-size: 12px;
	margin-left: 3px;
	margin-right: 12px;
    line-height: 17px;
    padding: 0 4px;
}

#fontFamily-1 {
	background: transparent;
    color: #333333;
    outline: none;
    border: 0;
    line-height: 1;
    cursor: pointer;
    text-align: left;
    margin: 4px 2px;
    padding: 0;
    border-radius: 4px;
    z-index: 2;
    position: relative;
    box-sizing: border-box;
    text-decoration: none;
    float: left;
    height: 40px;
}

#fontFamily-1::after {
    position: absolute;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #333333;
    top: 18px;
    content: "";
}

.fr-view {
	min-height: 400;
	font-size: 12px;
    height: 500px;
    padding: 20px;
    background: transparent;
    color: #000000;
    position: relative;
    z-index: 2;
    -webkit-user-select: auto;
    margin: 0px;
    overflow: hidden;
}

.fr-view::after {
    clear: both;
    display: block;
    content: "";
    height: 0;
}

div#editor {
	padding: 16px 24px;
	border: 1px solid #D6D6D6;
	border-radius: 4px;
	min-height:500px;
}

.editor-menu {
	margin: 18px 10px;
}

#bottom-btn { margin:50 0; }

.bottom-btn{
	width:100px;
	height:30px;
}
